<div class="footer" id="footer">
    <div class="container">
        <div class="row footer__content">
            <div class="col-sm-6 col-md-3 footer__intro">
                <h5>GIỚI THIỆU</h5>
                <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i> VỀ CHÚNG TÔI</a>
                <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i> QUY CHẾ HOẠT ĐỘNG</a>
                <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i> CHÍNH SÁCH - THỎA THUẬN</a>
            </div>
            <div class="col-sm-6 col-md-3 footer__services">
                <h5>HỖ TRỢ</h5>
                <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i> GÓP Ý</a>
                <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i> GIẢI ĐÁP</a>
                <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i> RẠP/GIÁ VÉ</a>
            </div>
            <div class="col-sm-6 col-md-3 footer__services">
                <h5>LIÊN HỆ</h5>
                <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i> QUẢNG CÁO</a>
                <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i> TUYỂN DỤNG</a>
            </div>
            <div class="col-sm-6 col-md-3 footer__connect">
                <h5>KẾT NỐI</h5>
                <a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a>
                <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-sm-2 col-md-3 col-lg-4 footer__logo">
                    <a routerLink=""><img src="assets/img/logo.png" alt="Logo"></a>
                </div>
                <div class="col-sm-10 col-md-9 col-lg-8 footer__text">
                    <p>Địa chỉ: 459 Sư Vạn Hạnh, Phường 12, Quận 10, TP.Hồ Chí Minh</p>
                    <p>Điện thoại: 1900 0000</p>
                </div>
            </div>
        </div>
    </div>
</div>