.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.scroll__button {
  background-color: transparent;
  border-radius: 0;
  border: 2px solid $color-red-0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;

  i {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    @include text($color-red-0, $fs-3, $fw-bold);
  }

  &:hover {
    background-color: $color-red-0;

    i {
      color: $color-white-0;
    }
  }

  &:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
