.movies {
  padding: $pd-4 0 $pd-3 0;
  position: relative;

  .tab-content {
    padding-left: $pd-2 + $pd-1;

    .movie__item {
      position: relative;
      width: 100%;
      height: 360px;

      img {
        width: 100%;
        height: 100%;
      }

      .badge {
        position: absolute;
        top: 6%;
        left: 8%;
        @include text($color-white-0, $fs-1 - 1, $fw-bold-1);
        padding: $pd-0;
      }

      .movie__star {
        position: absolute;
        top: 5%;
        right: 8%;

        .mat-icon-button {
          width: 20px !important;
          height: 20px !important;
          line-height: $line-height-0 !important;

          .mat-icon {
            font-size: $fs-2;
          }
        }
      }
    }

    .overlay {
      .play__button {
        top: 30%;
        left: 50%;
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
      }
    }

    h6 {
      padding-top: $pd-1;

      a {
        @include text($color-red-0, $fs-0, $fw-bold);
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        text-transform: uppercase;

        &:hover {
          color: $color-red-1;
          opacity: 0.7;
        }
      }
    }

    p {
      margin-bottom: 0;
      @include text($color-gray-0, $fs-1 + 1, $fw-bold-1);
    }

    .owl-theme {
      .owl-nav {
        [class*="owl-"] {
          &:hover {
            background: none;
          }
        }
      }
    }

    .owl-carousel {
      position: static;

      .item {
        width: 240px;
        margin: 0 auto;
      }

      .owl-stage-outer {
        z-index: 1;
      }

      .owl-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 0;
        width: 90%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: absolute;
        bottom: 30%;
        left: 50%;
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);

        button {
          &.owl-prev,
          &.owl-next {
            outline: none;

            span {
              @include text($color-red-0, $fs-5 + $fs-4, $fw-bold);
              border-radius: 0;
              -webkit-transition: all 0.35s;
              transition: all 0.35s;
            }
          }

          &:hover {
            span {
              color: $color-red-1;
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .movies {
    .tab-content {
      .owl-carousel {
        .owl-nav {
          width: 95%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .movies {
    .tab-content {
      .owl-carousel {
        .owl-nav {
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .movies {
    .tab-content {
      .owl-carousel {
        .owl-nav {
          width: 90%;
        }
      }
    }
  }
}