.detail__content {
  padding-top: $pd-4;

  .detail__left {
    padding: 0 $pd-4;

    .detail__image {
      position: relative;

      img {
        width: 100%;
        -webkit-box-shadow: 0 0 20px $color-black-1;
        box-shadow: 0 0 20px $color-black-1;
      }

      .detail__overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        opacity: 0;

        .play__button {
          background: $color-black-4;
        }
      }

      &:hover {
        .detail__overlay {
          opacity: 1;
        }
      }
    }
  }

  .detail__center {
    margin: auto 0;

    .detail__title {
      .detail__subtitle {
        @include text($color-gray-0, $fs-2 - 2, $fw-bold-1);

        .badge {
          margin-left: $mg-1;
        }

        .fa {
          @include text($color-red-0, $fs-2, $fw-bold-1);
          margin-right: $mg-1;
        }
      }

      .detail__maintitle {
        @include text($color-white-0, $fs-5, $fw-bold-2);
      }
    }

    .section__button {
      @include text($color-white-0, $fs-0 + 2, $fw-bold-1);
    }
  }

  .detail__right {
    margin: auto 0;
    padding-right: $pd-4;
    text-align: center;

    p {
      @include text($color-gray-0, $fs-0 + 1, $fw-bold-1);
      white-space: nowrap;
    }

    //circle rating
    .progress__circle {
      position: relative;

      .progress__svg {
        display: block;
        margin: 10px auto;
        max-width: 160px;
        max-height: 160px;
        border: 4px solid $color-red-0;
        border-radius: 50%;

        .progress__value {
          stroke: $color-gray-0;
          fill: none;
          stroke-width: 2;
          stroke-linecap: round;
          -webkit-animation: progress 1.5s ease-out forwards;
          animation: progress 1.5s ease-out forwards;

          @-webkit-keyframes progress {
            0% {
              stroke-dasharray: 0 100;
            }
          }

          @keyframes progress {
            0% {
              stroke-dasharray: 0 100;
            }
          }
        }
      }

      .progress__text {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @include text($color-yellow-0, $fs-3 + $fs-1 - 3, $fw-bold-1);

        span {
          @include text($color-white-0, $fs-3, $fw-bold-2);
          padding-bottom: -$pd-2;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .detail__content {
    .row {
      margin: 0;

      .detail__left {
        padding: 0;
      }

      .detail__center {
        padding-left: $pd-2;
        padding-right: 0;

        .detail__title {
          .detail__subtitle {
            font-size: $fs-2 - 3;
          }
        }
      }

      .detail__right {
        padding: 0 $pd-2;
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .detail__content {
    .detail__right {
      display: none;
    }
  }
}